
body {
	max-width: 1440px;
	padding-top: 26px;
	margin-left: auto;
	margin-right: auto;
	color: #ae7c78;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

a {
  text-decoration: none;
}


/* h1, h2, h3, h4, h5*/

h1 {
	font-family: 'Playfair Display', 'Georgia', serif;
	font-size: 44px;
	font-weight: 400;
	line-height: 59px;
	text-align: left;
	margin: 0 0 24px;
}

h1>span {
	font-style: italic;
}

h2 {
	font-family: 'Playfair Display', 'Georgia', serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
	text-align: center;
	margin: 0;
}

h3 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding-right: 15px;
}

h4 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin: 0;
}

h5 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

/*Общие свойства кнопок*/

.btn-common {
	border: none;
	outline: none;
	cursor: pointer;
}

/*HEADER*/

.main-header {
	border-bottom: 1px solid #ae7c78;
	border-top: 1px solid #ae7c78;
	max-height: 64px;
}

.nav-main {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

/*Главная*/


.title-info {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: 
		"title-i title-i title-i title-i t-img-1 t-img-1 t-img-1 t-img-1 t-img-2 t-img-2 t-img-2 t-img-2"
	;
	grid-column-gap: 20px;
	margin-top: 82px;
	margin-left: auto;
  margin-right: auto;
	max-width: 1200px;
}

.title-item {
	grid-area: title-i;
	max-width: 384px;
}

.title-item>p {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 64px;
}

.btn-catalog {
	padding: 30px 70px;
	color: #fff;
	background: #d89999;
	border-radius: 40px;
}

.title-img-1 {
	grid-area: t-img-1;
	margin-top: 58px;
}

.title-img-2 {
	grid-area: t-img-2;
}

/*Преимущества*/

.benefits {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1200px;
	max-height: 108px;
	margin-top: 42px;
	margin-left: auto;
  margin-right: auto;
	padding: 0;
}

.benefits-item {
	display: flex;
	justify-content: space-between;
}

.benefits-item-1 {
	flex-basis: 387px;
	margin-right: 58px;
}

.benefits-item-2 {
	flex-basis: 348px;
	margin-right: 43px;
}

.benefits-item-3 {
	flex-basis: 364px;
}

.benefits-info {
	margin-left: 20px;
}

.benefits-info-1 {
	flex-basis: 285px;
}

.benefits-info-2 {
	margin-left: 29px;
}

.benefits-info>p {
	margin-top: 8px;
	flex-basis: 285px;
}

/*Популярное*/

.popular {
	max-width: 794px;
	margin: 80px 323px 10px;
}

.popular-flex {
	display: flex;
	margin-top: 36px;
	margin-bottom: 16px;

}

.popular-info {
	display: flex;
	flex-direction: column;
	margin-top: 28px;
	max-width: 387px;
	margin-right: 20px;
}

.polular-info>p {
	margin: 0 auto;
}

.polular-info-text {
	margin: 20px 0 8px;
}

.popular-price {
	margin-top: 8px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.btn-order {
	margin-top: 40px;
	padding: 30px;
	max-width: 285px;
	color: #fff;
	background: #d89999;
	border-radius: 40px;
}

.arrow-flex {
	display: flex;
	justify-content: space-between;
	max-width: 130px;
	margin: 0 auto;
}

.btn-arrow {
	background-color: #fff;
}

/*Разделы каталога*/

.catalog-sections {
	margin-top: 64px;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style-type: none;
}

.catalog-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 387px;
	height: 442px;
	color: #fff;
	border-radius: 10px;
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	box-shadow: 387px 442px rgba(174, 124, 120, 0.6) inset;
}

.catalog-link-img-1 {
	background-image: url(../img/catalog-img-1.png);
}

.catalog-link-img-2 {
	background-image: url(../img/catalog-img-2.png);
}

.catalog-link-img-3 {
	background-image: url(../img/catalog-img-3.png);
}

.catalog-link>p {
	margin: 8px 0 0;
}

/*Скидка*/

.discount {
	display: flex;
	margin: 80px auto;
	max-width: 1200px;
	background-color: #ae7c78;
}

.discount-info {
	display: flex;
	flex-direction: column;
}

.discount-info-header {
	margin: 40px 20px 0 102px;
	color: #fff;
	font-family: 'Playfair Display', 'Georgia', serif;
	font-size: 44px;
	font-weight: 400;
	line-height: 59px;
	letter-spacing: 0.02em;
	text-align: left;
}

.discount-info-text {
	margin: 24px 121px 64px 102px;
	color: #fff;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
}

/*Шаги для заказа*/

.steps-order {
	margin: 80px auto;
	max-width: 1200px;
	max-height: 232px;
}

.steps-order-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}

.steps-order-item {
	flex-basis: 285px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.steps-order-item>h5 {
	margin-top: 8px;
	padding: 0;
}

.steps-order-item>p {
	margin-top: 8px;
	padding: 0;
	text-align: center;
}

/*Новости*/

.news {
	display: flex;
	justify-content: space-between;
	margin: 80px auto;
	max-width: 1200px;
}

.news-info {
	display: flex;
	flex-direction: column;
	max-width: 487px;
	margin-top: 70px;
}

.news-info>h2 {
	text-align: left;
}

.news-info>p {
	margin: 40px 100px 40px 0;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

.news-social-icons {
	display: flex;
	justify-content: space-between;
	max-width: 97px;
}

.news-little-img {
	display: flex;
	flex-direction: column;
	max-width: 285px;
}

.news-little-img>img:first-child {
	margin-bottom: 20px;
}

/*Отзывы*/

.reviews {
	margin: 80px auto;
	max-width: 1200px;
	height: 308px;
	border: 1px solid #ae7c78;
}

.reviews>h2 {
	padding: 40px 0;
}

.reviews-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0 44px;
	padding: 0;
}

.reviews-list-item {
	max-width: 300px;
	text-align: center;
}

.reviews-list-item>p {
	margin: 0;
	margin-bottom: 16px;
}

/*Контакты*/

.contacts {
	background-image: url(../img/map.png);
}

.contacts-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 644px;
	max-width: 1200px;
}

.contacts-block {
	grid-column: 2 / 6;
	margin-top: 52px;
	margin-bottom: 72px;
	background-color: #f7fafc;
	box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
	border-radius: 12px;
}

.contacts-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 40px 108px 65px 35px;
}

.contacts-info>h2 {
	margin-bottom: 23px;
}

.tel-info>a, .mail-info>a {
	color: #ae7c78;
}

/*footer*/

.footer {
	background-color: #ae7c78;
	color: #fff;
} 

.footer-flex {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	max-height: 97px;
	margin: 0 auto;
	padding: 24px 0;
}

.footer-flex>img {
	flex-basis: 100px;
}

.footer-info {
	display: flex;
	justify-content: space-between;
	flex-basis: 795px;
	margin: 0 auto;
	padding: 5px 0;
	list-style-type: none;
}

.footer-info>li>a {
	color: #fff;
}

.social-icons-footer {
	display: flex;
	justify-content: space-between;
	flex-basis: 97px;
}